<li class="comment-item">
  <span>
    <h2>{{ comment.content }}</h2>
    {% if user.is_authenticated and comment.user == user %}
      <a href="{% url 'comment-update' comment.id %}" class="btn warn">Edit</a>
      <a href="{% url 'comment-delete' comment.id %}" class="btn danger">Delete</a>
    {% endif %}
    {% if user.is_authenticated %}
      <a href="{% url 'comment-reply' post.id comment.id %}" class="btn secondary">Reply</a>
    {% endif %}
  </span>
  <small>By {{ comment.user.username }} on {{ comment.created_at }}</small>
  {% if comment.replies.all %}
    <ul class="reply-list">
      {% for reply in comment.replies.all %}
        {% include "main_app/comment_item.html" with comment=reply post=post user=user %}
      {% endfor %}
    </ul>
  {% endif %}
</li>